.country {
    border: 2px solid brown;
    border-radius: 20px;
    padding: 10px;
}
.country img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}
.visited {
    background-color: antiquewhite;
}

